<ng-container>
  <c-container [fluid]="true">
    <a class="navbar-brand" href="/src">
      <img src="/src/favicon.ico" width="30" height="30" alt="">
    </a>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/transactions" routerLinkActive="active">Transactions</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/income" routerLinkActive="active">Income</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/accounts" routerLinkActive="active">Accounts</a>
      </c-nav-item>
      <c-nav-item>
        <div ngbDropdown class="my-nav-link">
          <button type="button" class="btn" id="settingsList" ngbDropdownToggle>
            Settings
          </button>
          <div ngbDropdownMenu aria-labelledby="settingsList">
            <button routerLink="/account-types" ngbDropdownItem>Account types</button>
            <button routerLink="/transaction-types" ngbDropdownItem>Transaction types</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem routerLink="/settings-list">Settings</button>
          </div>
        </div>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>
</ng-container>

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <c-avatar
      cTextColor="primary"
      shape="rounded-1"
      size="md"
      src="./assets/userpic-default.webp"
      status="success"
    >
    </c-avatar>
  </c-dropdown>
</ng-template>
